
body {
    display: flex;
    flex-direction: column;
    font-family: "aleo";
}
img {
  
}
.top-bar {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    color: #F9FAF9;
}
.top-left {
    display: flex;
    font-size: 24px;
    align-items: center;
    /*margin-top: -15px;*/
}
.top-right {
    display: flex;
    gap: 20px;
    font-size: 18px;
    align-items: center;
    /*margin-top: -15px;*/
}
.main-container {
    display: flex;
    flex-direction: column;
}
.welcome-container {
    display: flex;
    background-color: #1F2937;
    padding: 80px;
    gap: 20px;
    
}
.welcome-left {
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex: 1;

}
.welcome-right {
    display: flex;
    justify-content: flex-start;
    flex: 1;
    align-items: center;
}
.welcome-left h1 {
    font-size: 48px;
    color: #F9FAF9;
}
.sub-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: -30px;
}
.welcome-left button {
    background-color: #3882F6;
    width: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #E5E7EB;
    font-weight: bold;
    margin-top: 5px;
    border-radius: 10px;
}
.welcome-right img {
    width: 600px;
    height: 300px;
    border-radius: 5px;
}
#info {
    text-align: center;
    font-size: 36px;
    color: #1F2937; 
}
.cat-container {
    display: flex;
    justify-content: center;
    gap: 45px;
    padding-bottom: 60px;
    margin-top: 10px;
}
.cat-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 150px;
    text-align: center;
    color: #1F2937;
}
.cat-info img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}
.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
}
.quote {
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;   
    font-size: 36px;
    width: 600px;
}
