body {
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
img {
    width: 200px;
    height: 150px;
}
.top-bar {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    color: #F9FAF9;
}
.top-left {
    display: flex;
    font-size: 24px;
    align-items: center;
    /*margin-top: -15px;*/
}
.top-right {
    display: flex;
    gap: 20px;
    font-size: 18px;align-items: center;
    /*margin-top: -15px;*/
}